[submodule "EDAns"]
	path = PTIT-Tools/EDAns
	url = https://github.com/nvbangg/EDAns.git
[submodule "KeyClipboard"]
	path = KeyClipboard
	url = https://github.com/nvbangg/KeyClipboard.git
[submodule "CodePTIT_Copier"]
	path = PTIT-Tools/CodePTIT_Copier
	url = https://github.com/nvbangg/CodePTIT_Copier.git
[submodule "Nonstop_Audio_Only_for_Youtube_YTMusic"]
	path = Nonstop_Audio_Only_for_Youtube_YTMusic
	url = https://github.com/nvbangg/Nonstop_Audio_Only_for_Youtube_YTMusic.git
[submodule "Win11Lite"]
	path = Win11Lite
	url = https://github.com/nvbangg/Win11Lite.git
